

// <<最初
.first {
  height: 80px;
  width: 80px;
  border: 1px solid;
  border-radius: 50%;
  border-color: rgb(35, 231, 238);
  background-color: rgb(35, 231, 238);

  .first_link {
    line-height: 80px;
    text-decoration: none;
    color: white;
  }
}

// number
.page {
  height: 50px;
  width: 50px;
  border: 1px solid;
  border-radius: 50%;
  border-color: rgb(35, 231, 238);
  background-color: rgb(35, 231, 238);
  line-height: 50px;

  a {
    display: block;
    text-decoration: none;
    color: white;
  }
}

// ...
.gap {
  height: 50px;
  width: 50px;
  border: 1px solid;
  border-radius: 50%;
  border-color: rgb(35, 231, 238);
  background-color: rgb(35, 231, 238);
  color: white;
}

// 最後>>
.last {
  height: 80px;
  width: 80px;
  border: 1px solid;
  border-radius: 50%;
  border-color: rgb(35, 231, 238);
  background-color: rgb(35, 231, 238);

  .last_link {
    line-height: 80px;
    text-decoration: none;
    color: white;
  }
}

// 次>
.next {
  height: 60px;
  width: 60px;
  border: 1px solid;
  border-radius: 50%;
  border-color: rgb(35, 231, 238);
  background-color: rgb(35, 231, 238);

  .next_link {
    line-height: 60px;
    text-decoration: none;
    color: white;
  }
}

// <前
.prev {
  height: 60px;
  width: 60px;
  border: 1px solid;
  border-radius: 50%;
  border-color: rgb(35, 231, 238);
  background-color: rgb(35, 231, 238);

  .prev_link {
    line-height: 60px;
    text-decoration: none;
    color: white;
  }
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1000px;
  margin: 0 auto;
}