.search-main
  = form_tag search_path, method: :get do
    .search-main_box
      .search-main_box-text
        = text_field_tag :search, params[:search], class: "text_search", placeholder: "  施設名or施設名（カナ）or住所を入力してください"
      .search-main_box-button
        = submit_tag "検索", facility_name: :nil, class: "button_search"