.main
  .main-registration__date
    .main-registration__date-child
      登録日
    %input.registration__date-input-text{name: "text", placeholder: "登録日", type: "text", value: ""}
  .main-facility
    .main-facility-child
      施設名
    %input.facility-input-text{name: "text", placeholder: "施設名", type: "text", value: ""}

  .main-postal__code
    .main-postal__code-child
      郵便番号
    %input.postal__code-input-text{name: "text", placeholder: "郵便番号", type: "text", value: ""}

  .main-address
    .main-address-child
      住所
    %input.address-input-text{name: "text", placeholder: "住所", type: "text", value: ""}

  .main-tell
    .main-tell-child
      電話番号
    %input.tell-input-text{name: "text", placeholder: "電話番号", type: "text", value: ""}

  .main-delivery_date
    .main-delivery_date-child
      納品日
    %input.delivery_date-input-text{name: "text", placeholder: "納品日", type: "text", value: ""}
  .footer
    NEXT→