.no
  .side

  .top
    .top-registration__date
      .top-registration__date-child
        登録日
      .text-field
        .registration__date-text
          2020/01/01

    .top-facility
      .top-facility-child
        施設名
      .text-field
        .facility-text
          宮田病院

    .top-postal__code
      .main-postal__code-child
        郵便番号
      .text-field
        .postal__code-text
          583-0006

    .top-address
      .top-address-child
        住所
      .text-field
        .address-text
          大阪府藤井寺市      

    .top-tell
      .top-tell-child
        電話番号
      .text-field
        .tell-text
          080-2222-2222

    .top-delivery_date
      .top-delivery_date-child
        納品日
      .text-field
        .delivery_date-text
          2019/01/01

    .top-software
      .top-software-child
        納品物
      .text-field
        .software-text
          miyata.file

    .top-estimate
      .top-estimate-child
        見積書
      .text-field
        .estinate-text

    .top-delivery_note
      .top-delivery_note-child
        納品書
      .text-field
        .delivery_note-text