
.top
  %span.top-name
    施設情報・納品情報　一覧
  .top-registration__date
    .top-registration__date-child
      登録日
    .text-field
      .registration__date-text


  .top-facility
    .top-facility-child
      施設名
    .text-field
      .facility-text


  .top-postal__code
    .main-postal__code-child
      郵便番号
    .text-field
      .postal__code-text


  .top-address
    .top-address-child
      住所
    .text-field
      .address-text
  

  .top-tell
    .top-tell-child
      電話番号
    .text-field
      .tell-text


  .top-delivery_date
    .top-delivery_date-child
      納品日
    .text-field
      .delivery_date-text


  .top-software
    .top-software-child
      納品物
    .text-field
      .software-text


  .top-estimate
    .top-estimate-child
      見積書
    .text-field
      .estinate-text


  .top-delivery_note
    .top-delivery_note-child
      納品書
    .text-field
      .delivery_note-text