.top {
  padding-top: 50px;
  text-align: center;
  margin: auto 0;

  .top-name {
    font-family: "Courier";
    font-size: x-large;
    border-bottom: solid 2px orange;
  }
  .top-dealer {
    width: 100%;
    margin-bottom: 50px;
    margin-top: 50px;

    .top-dealer-child {
      font-family: "Courier";
    }

    .top-dealer-child_box {

      .top-dealer-child_box-company_text {
        font-family: "Courier";

        .top-dealer-child_box-company {

          select {
            height: 50px;
            width: 100px;
          }
        }
      }
      .top-dealer-child_box-name_text {
        font-family: "Courier";
        margin-top: 50px;

        .top-dealer-child_box-name {

          .dealer-input-text {
            height: 50px;
            width: 500px;
            font-size: large;
          }
        }
      }
      .top-dealer-child_box-kana_text {
        font-family: "Courier";
        margin-top: 50px;

        .top-dealer-child_box-kana {

          .dealer_kana-input-text {
            height: 50px;
            width: 500px;
            font-size: large;
          }
        }
      }
    }
    
    .dealer_button {
      height: 50px;
      width: 100px;
      margin-top: 100px;
    }
  }
}