// new

.best-main {
  height: 100px;

  .best-main-text {
    margin-top: 50px;
  }

  .add_text {
    margin-right: 25px;
    margin-top: 50px;
  }

  .hards-input-text {
    height: 50px;
    width: 500px;
    margin-left: 10px;
  }

  #pulas-hard {
    margin-left: 10px;
    cursor: pointer;
  }
}



// .hards {
//   height: 100vh;
//   width: calc(100vw - 300px);
//   padding-top: 80px;
//   text-align: center;
//   overflow: scroll;
//   // margin-left: 150px;
//   // padding-left: 150px;
//   margin: auto 0;

//   .hards-name {
//   font-size: x-large;
//   font-family: "Courier";
//   border-bottom: solid 2px orange;
//   }

//   .hards-parent {
//     width: 100%;
//     margin-bottom: 50px;
//     margin-top: 50px;

//     .hards-input-text {
//       height: 50px;
//       width: 500px;
//       font-size: large;
//     }
//   }

//   .footer {
//     height: calc(100% - 700px);
//     width: 100%;
//     font-size: large;

//     .hards_back_botton {
//       height: 50px;
//       width: 100px;
//       font-size: large;
//       margin-right: 200px;
//     }

//     .hards_botton {
//       height: 50px;
//       width: 100px;
//       font-size: large;
//     }
//   }
// }


    
// index

.hard_main {
  height: 100vh;
  width: calc(100% - 300px);
  padding-top: 80px;
  text-align: center;
  // overflow: scroll;
  margin-left: 150px;
  padding-left: 150px;

  .hard_name {
    font-size: xx-large;
    font-family: "Courier";
    border-bottom: solid 2px orange;
  }

  .hard_main-text {
    margin-top: 100px;
    
    .hard_main-text_name {
      margin-right: 500px;
      font-size: x-large;
    }

    .hard_main-text_border {
      height: 500px;
      width: 700px;
      border: solid;
      border-color: rgb(225, 227, 233);
      margin-left:300px;
      margin-top: 10px;
    }
  }

}