// new

.main {
  height: 100vh;
  width: calc(100vw - 300px);
  padding-top: 80px;
  text-align: center;
  overflow: scroll;
  margin-left: 150px;
  padding-left: 150px;
  margin-bottom: 100px;

  .main-name {
    font-size: x-large;
    font-family: "Courier";
    border-bottom: solid 2px orange;
    }

  .main-child {
  font-size: x-large;
  font-family: "Courier";
  border-bottom: solid 2px orange;
  }

  .main-registration__date {
    width: 100%;
    margin-bottom: 50px;
    margin-top: 50px;

    .main-registration__date-child {
      font-family: "Courier";
    }

    .registration__date-input-text {
      height: 50px;
      width: 500px;
      font-size: large;
    }
  }

    .main-facility {
      width: 100%;
      margin-bottom: 50px;
      margin-top: 50px;

      .main-facility-child {
        font-family: "Courier";
      }
      
      .facility-input-text {
        height: 50px;
        width: 500px;
        font-size: large;
      }
    }

    .main-kana {
      width: 100%;
      margin-bottom: 50px;
      margin-top: 50px;

      #collection_box {
        height: 50px;
        width: 100px;
      }
  
      .main-kana-child {
        font-family: "Courier";
      }
  
      .kana-input-text {
        height: 50px;
        width: 500px;
        font-size: large;
      }
    }

    .main-postal__code {
      width: 100%;
      margin-bottom: 50px;
      margin-top: 50px;
  
      .main-postal__code-child {
        font-family: "Courier";
      }
  
      .postal__code-input-text {
        height: 50px;
        width: 500px;
        font-size: large;
      }
    }

  .main-address {
    width: 100%;
    margin-bottom: 50px;
    margin-top: 50px;

    .main-address-child {
      font-family: "Courier";
    }

    .address-input-text {
      height: 50px;
      width: 500px;
      font-size: large;
    }
  }

  .main-tell {
    width: 100%;
    margin-bottom: 50px;
    margin-top: 50px;

    .main-tell-child {
      font-family: "Courier";
    }

    .tell-input-text {
      height: 50px;
      width: 500px;
      font-size: large;
    }
  }

  .main-delivery_date {
    width: 100%;
    margin-bottom: 50px;
    margin-top: 50px;

    .main-delivery_date-child  {
      font-family: "Courier";
    }

    .delivery_date-input-text {
      height: 50px;
      width: 500px;
      font-size: large;
    }
  }

  .main-delivery_note {
    width: 100%;
    margin-bottom: 50px;
    margin-top: 50px;

    .main-delivery_note-child  {
      font-family: "Courier";
    }

    .delivery_note-image {
      height: 50px;
      width: 500px;
      margin-left: 200px;
      margin-top: 50px;
      font-size: large;
    }
  }

  .main-estimate_sheet {
    width: 100%;
    margin-bottom: 50px;
    margin-top: 50px;

    .main-estimate_sheet-child {
      font-family: "Courier";
    }

    .estimate_sheet-image {
      height: 50px;
      width: 500px;
      margin-left: 200px;
      margin-top: 50px;
      font-size: large;
    }
  }
}




// show

* {
  padding: 0px;
  margin: 0px;
}

.show-main {
  height: 100vh;
  width: calc(100% - 300px);
  padding-top: 80px;
  text-align: center;
  overflow: scroll;
  margin-left: 150px;
  padding-left: 150px;

  .show-main_name {
    font-family: "Courier";
    font-size: x-large;
    border-bottom: solid 2px orange;
  }
  .show-main_page {
    margin-top: 100px;
    font-size: x-large;
    

    .show-main_page_flame {
      height: 850px;
      width: 1000px;
      background-color: rgb(250, 234, 206);
      margin: 0 auto;

      .show-main_page_flame-details {
        height: 170px;
        width: 100%;
        position: relative;

        .show-main_page_flame-details-item {
          width: 230px;
          position: absolute;
          right: 50px;
          top: 70px;
          border-bottom: 2px solid rgb(16, 83, 230);
          
          .show-main_text_destroy {
            margin-right: 60px;
            text-decoration: none;
          }

          .show-main_text_back {
            text-decoration: none;
          }
        }
      }

      .show-main_page_flame-parent {
        height: 550px;
        width: 800px;
        margin-left: 100px;
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        flex-direction: column;
        font-family: "Courier";

        .show-main_page_flame-parent-name {
          border-bottom: 2px solid rgb(255, 190, 93);
        }

        .show-main_page_flame-parent-postal_code {
          border-bottom: 2px solid rgb(255, 190, 93);
        }

        .show-main_page_flame-parent-address {
          border-bottom: 2px solid rgb(255, 190, 93);
        }

        .show-main_page_flame-parent-tell {
          border-bottom: 2px solid rgb(255, 190, 93);
        }

        .show-main_page_flame-parent-delivery_date {
          border-bottom: 2px solid rgb(255, 190, 93);
        }

        .show-main_page_flame-parent-software {
          border-bottom: 2px solid rgb(255, 190, 93);
        }
      }
    }
    .footer {
      height: 200px;
    }
  }
}





// index

.index-main {
  height: 100vh;
  width: calc(100% - 300px);
  padding-top: 80px;
  text-align: center;
  overflow: scroll;
  margin-left: 150px;
  padding-left: 150px;

  .index-main_name {
    font-family: "Courier";
    font-size: x-large;
    border-bottom: solid 2px orange;
  }
  .index-main_page {
    margin-top: 100px;
    font-size: x-large;
    

    .index-main_page_flame {
      height: 800px;
      width: 1000px;
      background-color: rgb(250, 234, 206);
      margin: 0 auto;

      .index-main_page_flame-details {
        margin-right: 100px;
        padding-top: 100px;
        text-align: right;
      }

      .index-main_page_flame-parent {
        height: 550px;
        width: 800px;
        margin-left: 100px;
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        flex-direction: column;
        font-family: "Courier";

        .index-main_page_flame-parent-name {
          border-bottom: 2px solid rgb(255, 190, 93);
        }

        .index-main_page_flame-parent-postal_code {
          border-bottom: 2px solid rgb(255, 190, 93);
        }

        .index-main_page_flame-parent-address {
          border-bottom: 2px solid rgb(255, 190, 93);
        }

        .index-main_page_flame-parent-tell {
          border-bottom: 2px solid rgb(255, 190, 93);
        }

        .index-main_page_flame-parent-delivery_date {
          border-bottom: 2px solid rgb(255, 190, 93);
        }

        .index-main_page_flame-parent-software {
          border-bottom: 2px solid rgb(255, 190, 93);
        }
      }
    }
    .footer {
      height: 200px;
    }
  }
}





// search

.index-main {
  height: 100vh;
  width: calc(100% - 300px);
  padding-top: 80px;
  text-align: center;
  overflow: scroll;
  margin-left: 150px;
  padding-left: 150px;

  .index-main_name {
    font-family: "Courier";
    font-size: x-large;
    border-bottom: solid 2px orange;
  }
  .index-main_page {
    margin-top: 100px;
    font-size: x-large;
    

    .index-main_page_flame {
      height: 800px;
      width: 1000px;
      background-color: rgb(250, 234, 206);
      margin: 0 auto;

      .index-main_page_flame-details {
        margin-right: 100px;
        padding-top: 100px;
        text-align: right;
      }

      .index-main_page_flame-parent {
        height: 550px;
        width: 800px;
        margin-left: 100px;
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        flex-direction: column;
        font-family: "Courier";

        .index-main_page_flame-parent-name {
          border-bottom: 2px solid rgb(255, 190, 93);
        }

        .index-main_page_flame-parent-postal_code {
          border-bottom: 2px solid rgb(255, 190, 93);
        }

        .index-main_page_flame-parent-address {
          border-bottom: 2px solid rgb(255, 190, 93);
        }

        .index-main_page_flame-parent-tell {
          border-bottom: 2px solid rgb(255, 190, 93);
        }

        .index-main_page_flame-parent-delivery_date {
          border-bottom: 2px solid rgb(255, 190, 93);
        }

        .index-main_page_flame-parent-software {
          border-bottom: 2px solid rgb(255, 190, 93);
        }
      }
    }
    .footer {
      height: 200px;
    }
  }
}