// new

.main {
  padding-top: 80px;
  text-align: center;
  overflow: scroll;
  margin-bottom: 100px;

  &-name {
    font-size: x-large;
    font-family: "Courier";
    border-bottom: solid 2px orange;
    }

  &-child {
  font-size: x-large;
  font-family: "Courier";
  border-bottom: solid 2px orange;
  }

  &-registration__date {
    width: 100%;
    margin-bottom: 50px;
    margin-top: 50px;

    &-child {
      font-family: "Courier";
    }

    .registration__date-input-text {
      height: 50px;
      width: 500px;
      font-size: large;
    }
  }

    &-facility {
      width: 100%;
      margin-bottom: 50px;
      margin-top: 50px;

      &-child {
        font-family: "Courier";
      }
      
      .facility-input-text {
        height: 50px;
        width: 500px;
        font-size: large;
      }
    }

    &-kana {
      width: 100%;
      margin-bottom: 50px;
      margin-top: 50px;

      #collection_box {
        height: 50px;
        width: 100px;
      }
  
      &-child {
        font-family: "Courier";
      }
  
      .kana-input-text {
        height: 50px;
        width: 500px;
        font-size: large;
      }
    }

    &-postal__code {
      width: 100%;
      margin-bottom: 50px;
      margin-top: 50px;
  
      &-child {
        font-family: "Courier";
      }
  
      .postal__code-input-text {
        height: 50px;
        width: 500px;
        font-size: large;
      }
    }

  &-address {
    width: 100%;
    margin-bottom: 50px;
    margin-top: 50px;

    &-child {
      font-family: "Courier";
    }

    .address-input-text {
      height: 50px;
      width: 500px;
      font-size: large;
    }
  }

  &-tell {
    width: 100%;
    margin-bottom: 50px;
    margin-top: 50px;

    &-child {
      font-family: "Courier";
    }

    .tell-input-text {
      height: 50px;
      width: 500px;
      font-size: large;
    }
  }

  &-delivery_date {
    width: 100%;
    margin-bottom: 50px;
    margin-top: 50px;

    &-child  {
      font-family: "Courier";
    }

    .delivery_date-input-text {
      height: 50px;
      width: 500px;
      font-size: large;
    }
  }

  &-delivery_note {
    width: 100%;
    margin-bottom: 50px;
    margin-top: 50px;

    &-child  {
      font-family: "Courier";
      margin-top: 100px;
    }

    .delivery_note-image {
      height: 50px;
      width: 500px;
      margin-left: 200px;
      margin-top: 50px;
      font-size: large;
    }
  }

  &-estimate_sheet {
    width: 100%;
    margin-bottom: 50px;
    margin-top: 50px;

    &-child {
      font-family: "Courier";
      margin-top: 100px;
    }

    .estimate_sheet-image {
      height: 50px;
      width: 500px;
      margin-left: 200px;
      margin-top: 50px;
      font-size: large;
    }
  }
}


// 変数一覧
$border_line: 2px solid rgb(255, 190, 93);

// mixin一覧
@mixin form_name_border() {
  border-bottom: $border_line;
  margin-bottom: 30px;
}


// show

* {
  padding: 0px;
  margin: 0px;
}

.show-main {
  padding-top: 80px;
  text-align: center;
  overflow: scroll;

  &_name {
    font-family: "Courier";
    font-size: x-large;
    border-bottom: solid 2px orange;
  }
  &_page {
    margin-top: 100px;
    font-size: x-large;
    

    &_flame {
      width: 1000px;
      background-color: rgb(250, 234, 206);
      margin: 0 auto;
      color: #5d627b;
      background-color: rgb(250, 234, 206);
      border-top: solid 5px rgb(248, 159, 5);
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);

      &-details {
        height: 100px;
        width: 100%;
        position: relative;

        &-item {
          width: 260px;
          position: absolute;
          right: 50px;
          top: 70px;
          
          .show-main_text_destroy {
            margin-right: 30px;
            text-decoration: none;
            color: rgb(34, 118, 243);
          }

          .show-main_text_back {
            margin-right: 30px;
            text-decoration: none;
            color: rgb(34, 118, 243);
          }
          .show-main_text_edit {
            text-decoration: none;
            color: rgb(34, 118, 243);
          }
        }
      }

      &-parent {
        width: 800px;
        margin-left: 100px;
        padding-bottom: 100px;
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        flex-direction: column;
        font-family: "Courier";

        &-name {
          @include form_name_border();
        }

        &-kananame {
          @include form_name_border();
        }

        &-postal_code {
          @include form_name_border();
        }

        &-address {
          @include form_name_border();
        }

        &-tell {
          @include form_name_border();
        }

        &-delivery_date {
          border-bottom: $border_line;
          margin-bottom: 100px;
        }

        &-box {
          
          &-software {
            border-bottom: 2px solid rgb(255, 190, 93);
            margin-bottom: 30px;
            text-align: left;
          }
          .show-main_page_flame-parent-box-dealer {
            text-align: left;
            margin-bottom: 50px;

            .show-main_page_flame-parent-box-dealer_box {
              background-color: rgb(243, 207, 146);
              border-radius: 5px;
              margin-top: 10px;

              .show-main_page_flame-parent-box-dealer_company {
                padding: 20px;
              }
              .show-main_page_flame-parent-box-dealer_name {
                padding: 20px;
              }
              .show-main_page_flame-parent-box-dealer_kananame {
                padding: 20px;
              }
            }
          }

          &-software-product_box {
            text-align: left;
            margin-bottom: 100px;

            .show-main_page_flame-parent-box-software-product_box_child {
              background-color: rgb(243, 207, 146);
              border-radius: 5px;
              margin-top: 10px;

              .show-main_page_flame-parent-box-software-product_category {
                padding: 20px;
              }
              .show-main_page_flame-parent-box-software-product_thing {
                padding: 20px;
              }
              .show-main_page_flame-parent-box-software-product_model_number {
                padding: 20px;
              }
              .show-main_page_flame-parent-box-software-product_purchase_date {
                padding: 20px;
                margin-bottom: 10px;
              }
            }
          }
        }
        .show-main_page_flame-parent-box-estimate_sheet {
          margin-bottom: 100px;
        }
        .show-main_page_flame-parent-box-delivery_note {
          margin-bottom: 100px;
        }
      }
    }
    .footer {
      height: 200px;
    }
  }
}


// index,search

.index-main {
  padding-top: 80px;
  text-align: center;
  overflow: scroll;

  &_name {
    font-family: "Courier";
    font-size: x-large;
    border-bottom: solid 2px orange;
  }
  &_page {
    margin-top: 100px;
    font-size: x-large;
    

    &_flame {
      height: 800px;
      width: 1000px;
      margin: 0 auto;
      color: #5d627b;
      background-color: rgb(250, 234, 206);
      border-top: solid 5px rgb(248, 159, 5);
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);

      &-details {
        margin-right: 100px;
        padding-top: 100px;
        text-align: right;

        .index-main_text_name {
          text-decoration: none;
          color: rgb(34, 118, 243);
        }
      }

      &-parent {
        height: 550px;
        width: 800px;
        margin-left: 100px;
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        flex-direction: column;
        font-family: "Courier";

        &-name {
          border-bottom: $border_line;
        }

        &-kananame {
          border-bottom: $border_line;
        }

        &-postal_code {
          border-bottom: $border_line;
        }

        &-address {
          border-bottom: $border_line;
        }

        &-tell {
          border-bottom: $border_line;
        }

        &-delivery_date {
          border-bottom: $border_line;
        }

        &-software {
          border-bottom: $border_line;
        }
      }
    }
    .footer {
      height: 200px;
    }
  }
  .page {
    height: 200px;
    font-size: x-large;
  }
}