// new

.products {
  height: 100vh;
  width: calc(100vw - 300px);
  padding-top: 80px;
  text-align: center;
  overflow: scroll;
  margin: auto 0;

  .products-name {
  font-size: x-large;
  font-family: "Courier";
  border-bottom: solid 2px orange;
  }

  .products-parent {
    width: 100%;
    margin-bottom: 50px;
    margin-top: 50px;

    .products-child {
      font-family: "Courier";
    }

    .products-input-text {
      height: 50px;
      width: 500px;
      font-size: large;
    }
  }

  .footer {
    height: calc(100% - 700px);
    width: 100%;
    font-size: large;

    .products_back_botton {
      height: 50px;
      width: 100px;
      font-size: large;
      margin-right: 200px;
    }

    .products_botton {
      height: 50px;
      width: 100px;
      font-size: large;
    }
  }
}

// index

.product {
  height: 100vh;
  width: calc(100% - 300px);
  padding-top: 80px;
  text-align: center;
  overflow: scroll;
  margin-left: 150px;
  padding-left: 150px;

  .product-name {
  font-size: x-large;
  font-family: "Courier";
  border-bottom: solid 2px orange;
  }

  .product-main {
    width: 100%;
    margin-bottom: 50px;
    margin-top: 50px;

    .product-main-child {
      font-family: "Courier";
      font-size: large;
    }
    .text-field {
      height: 50px;
      width: 500px;
      font-family: "Courier";
      border: solid;
      border-color: rgb(37, 59, 156);
      margin: 5px auto;
      padding: 5px;

      .product-input-text {
        height: 50px;
        width: 500px;
        margin-top: 15px;
        font-size: large;
      }
    }
  }

  .footer {
    height: calc(100% - 700px);
    width: 100%;
    font-size: large;
  }
}